*{
    margin: 0 auto;
    padding: 0;
}
#wrapper{
    max-width: 500px;
    background-image : url(img/dialga.jpg);
}
#content{
    width: 100%;
}
#content img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
#content a{
    text-decoration: none;
    color: black;
    background-color: white;
    width: 400px;
    height: 40px;
    padding-top: 20px;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
}
#content a:hover{
    background-color: blue;
    color: white;
    border: 3px solid gray;
    border-radius: 5px;
}
.link{
    margin-top: 30px;
    padding-top: 20px;
}
#footer{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}